body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #aefae8;
}

.cg-header {
    background: goldenrod; /* Chhattisgarh green */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cg-header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 22px;
}

.hero {
    background: linear-gradient(#fe7d3a, #1b5e20);
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.posts {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.post-card {
    background: white;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.post-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.post-card h3 {
    margin: 10px;
    color: #1b5e20;
}

.post-card p {
    margin: 10px;
    color: #555;
}

.page-title {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #1b5e20;
}

.single-post {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.single-post img {
    width: 100%;
    border-radius: 15px;
}